


body {
    box-sizing: border-box;
}
.grid-size-btn {
    height: 50px;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
}

.grid-parent {
    background-color: red;
    width: 960px;
    height: 960px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.grid-cell {
    /* INFO: --cell-size is related to the size of the default grid or the size chosen by the user */
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: gray;
    border: 1px solid yellow;

    box-sizing: border-box;
}


.grid-cell-hover {
    background-color: rgba(0, 0, 125, 0.8);
    transition: all 0.15s;
}
